* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url('../imgs/fundo.png');
    background-size: cover;
    background-position: center;*/
	background: linear-gradient(to right, #001F3F, #004080, #0077B6, #4D9DBD, #9AD3BC);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, a{
    color: #f5f5f5;
    font-family: 'Montserrat', 'Oswald', sans-serif;
    text-align: center;
}

main {
    width: 50%;
    height: 30%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-transform: uppercase;
    font-size: clamp(1.5em, 1em + 2vw, 2em);
    margin-bottom: 2rem;
}

h2 {
    font-size: clamp(1.5em, 1em + 1vw, 2em);
    margin-bottom: 1.8rem;    
}

a {
    color: #e8461d;
    transition: all 0.5s;
}

a:hover {
    font-size: calc(2rem + 2px); 
}

.btnHome {
    font-family: 'Montserrat', 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #f5f5f5;
    padding: 1rem;
    color: #f5f5f5;
}

.btnHome:hover {
    font-size: calc(1rem + 10px); 
    background-color: #f5f5f5;
    color: #e8461d;
}